@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Raleway", sans-serif;
}
.nav-link:hover .drop-down {
  transition: all 1s;
  transform: translateY(0px);
  display: flex;
  flex-direction: column;
}
.bg-header {
  background: #2d343c;
}
.transform {
  transform: translateY(-100px)
}
